body {
  background: #93deff;
  font-family: "Roboto Slab", serif;
}
a {
  color: black;
}

.weather-app {
  background: #d6e4f0;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid
    linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);

  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f6f6f6;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-botton {
  background-color: #f6f6f6;
  padding: 15px 22px;
  margin-left: 5px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  color: black;
}
main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(39, 33, 66, 0.4);
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weatehr-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  text-align: center;
  color: rgb(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  text-align: center;
  font: size 38px;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid
    linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
